article {
  display: flex;
  width: 1184px;
  padding: 24px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.avatarWrapper {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  background: var(--color-bg-white, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.teacherCardAvatar {
  border-radius: 50%;
  object-fit: cover;
}
.teacherCardAvatarIcon {
  position: absolute;
  top: 19px;
  right: 16px;
  stroke: var(--color-bg-white, #ffffff);
  color: var(--color-text-green, #38cd3e);
}
.contentCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contentCardHeaderTitle {
  color: #8a8a89;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.contentCardWrapper {
  width: 100%;
  border: 1px solid sandybrown;
}

.contentCardHeaderList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  color: #121417;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.contentCardHeaderList li {
  position: relative;
}
.contentCardHeaderList li:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}
.contentCardHeaderList li:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}
.contentCardHeaderList li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.2);
}
.contentCardHeaderItem span {
  color: var(--color-text-green, #38cd3e);
}
.teacherCardBookIcon {
  width: 16px;
  height: 16px;
  stroke: var(--color-text, #121417);
}
.teacherCardFavoriteBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.teacherCardFavBtnIcon {
  width: 22.645px;
  height: 19.751px;
  stroke-width: 2px;
  stroke: #121417;
}
.teacherCardFavBtnIcon.isActive {
  stroke: #f4c550;
  fill: #f4c550;
}

.reviewerAvatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fbe9ba;
  color: #121417;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.teacherCardLevelsList {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.teacherCardLevelsList li {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 35px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  color: #121417;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.15;
}

.teacherCardLevelsList li:first-child {
  background: #f4c550;
}
