article {
  display: flex;
  width: 1184px;
  padding: 24px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.avatarWrapper {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  background: var(--color-bg-white, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.teacherCardAvatar {
  border-radius: 50%;
  object-fit: cover;
}
.teacherCardAvatarIcon {
  position: absolute;
  top: 19px;
  right: 16px;
  stroke: var(--color-bg-white, #ffffff);
  color: var(--color-text-green, #38cd3e);
}

.contentCardWrapper {
  width: 100%;
  border: 1px solid sandybrown;
}

.contentCardHeaderTxtWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #121417;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.contentCardHeaderText span {
  color: var(--color-text-green, #38cd3e);
}
