.teacherListWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacherList {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}
