.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(17, 17, 17, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background-color: #ffffff;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;

  padding: 32px 28px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.25s ease, scaleIn 0.25s ease;
  position: absolute;
  top: 50%;
  left: 50%;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  font-size: 20px;
  color: #111;
  cursor: pointer;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 24px;
  text-align: center;
}

.text {
  font-size: 14px;
  color: #555555;
  margin-bottom: 24px;
  text-align: center;
}

.primaryBtn {
  width: 100%;
  padding: 14px 0;
  background-color: #f4c550;
  color: #111;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.primaryBtn:hover {
  background-color: #e0b040;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.96);
  }
  to {
    transform: scale(1);
  }
}
