.formTrialContainer {
  width: 472px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.bookTrialFormTitle {
  color: #121417;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.8px;
}
.bookTrialFormTxt {
  flex: 0 0 100%;
  color: rgba(18, 20, 23, 0.8);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}
.trialAvatarWrapper {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.teacherTrialAvatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}
.trialAvatarInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.trialAvatarTxt {
  color: #8a8a89;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
}
.trialAvatarName {
  color: #121417;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.bookTrialReasonFieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-inline-size: 0;
}
.bookTrialFormLegend {
  color: #121417;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
}
.bookTrialRadioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #121417;
  text-align: start;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}
