:root {
  --font-main: "Roboto", sans-serif;
  --color-text: #121417;
  --color-text-light: #121417cc;
  --color-text-grey: #8a8a89;
  --color-text-green: #38cd3e;
  --color-bg-white: #ffffff;
  --color-bg: #f8f8f8;
  --color-main: #f4c550;
  --color-accent: #fbe9ba;
  --color-btn-active: #f4c550;
  --color-btn-disabled: ##8a8a89;
  --color-btn-hover: #ffdc86;

  /* Container paddings */
  --padding-mobile: 10px;
  --padding-tablet: 15px;
  --padding-desktop: 64px;

  /* Container widths */
  --max-width-mobile: 390px; /* 370 контент (по макету) + 2*10 падинги */
  --max-width-tablet: 804px; /* 784 контент (по макету) + 2*15 падинги */
  --max-width-desktop: 1440px; /* 1312 контент (по макету) + 2*64 падинги */

  /* Section padding */
  --section-padding: 48px;
  --section-padding-desktop: 96px;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-style: normal;
}

img {
  display: block;
}

button {
  background: none;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

svg {
  fill: none;
}

.container {
  min-width: 320px;
  max-width: var(--max-width-mobile);
  padding-left: var(--padding-mobile);
  padding-right: var(--padding-mobile);
  margin: 0 auto;
}
.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media screen and (min-width: 834px) {
  .container {
    max-width: var(--max-width-tablet);
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--max-width-desktop);
  }
  .section {
    padding-top: var(--section-padding-desktop);
    padding-bottom: var(--section-padding-desktop);
  }
}
