.heroSection {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.heroWrapper {
  width: 1312px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.heroContentWrapper {
  width: 720px;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
  row-gap: 32px;
  background-color: var(--color-bg, #f8f8f8);
  color: var(--color-text, #121417);
  border-radius: 30px;
  padding: 64px 98px;
}

.heroTitle {
  width: 548px;
  height: 112px;
  color: #121417;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
}

.highlight {
  position: relative;
  display: inline-block;
  color: #121417;
  font-family: Roboto;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
  z-index: 0;
}
.highlight::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 105%;
  height: 0.75em;
  background: var(--color-accent, #fbe9ba);
  border-radius: 8px;
  z-index: -1;
}

.heroTxt {
  width: 471px;
  height: 66px;
  color: #121417;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.32px;
}

.heroBtn {
  width: 267px;
  display: inline-flex;
  margin-top: 32px;
  padding: 16px 88px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #f4c550;
  color: #121417;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
}

.heroImgWrapper {
  width: 568px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: bottom;
  padding: 80px 89px 0 88px;
  background-color: var(--color-accent, #fbe9ba);
  border-radius: 30px;
}
.stats {
  width: 1312px;
  height: 116px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 30px;
  border: 1.5px dashed var(--color-main, #f4c550);
}
.statsList {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}
.statItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 2px;
}
.statValue {
  color: var(--color-text, #121417);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.56px;
}
.statLabel {
  width: 96px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  color: var(--color-text-light, #121417cc);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}
