form {
  width: 438px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 40px;
}
.formTitleWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}
.formTitle {
  color: #121417;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.8px;
}
.formTxt {
  color: rgba(18, 20, 23, 0.8);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}
.formInputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 2px;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.formInput,
.formInput::placeholder {
  color: #121417;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
  opacity: 1;
}

.formInput {
  display: flex;
  width: 100%;
  height: 54px;
  padding: 16px 16px;
  padding-right: 44px;
  justify-content: center;
  align-items: center;
  gap: 18px;

  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
}
.submitBtn {
  display: flex;
  width: 438px;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #f4c550;
  color: #121417;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
}
.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formErr,
.errGlobal {
  min-height: 1.2;
  font-size: 12px;
  line-height: 1.2;
  color: #e53935;
}

.inputError {
  border-color: rgba(229, 57, 53, 0.6);
}
.passwordField {
  position: relative;
}
.eyeBtn {
  position: absolute;
  top: 17px;
  right: 17px;
  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.iconOpen {
  fill: #121417;
}
.iconOff {
  stroke: #121417;
}
